<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="imageService" type="Fpi.ImageService.ImageServiceSection, Fpi.ImageService, Version=1.0.0.0" requirePermission="false"/>
	</configSections>
	<imageService defaultProvider="FileSystem">
		<providers>
			<add name="FileSystem" type="Fpi.ImageService.FileSystemImageProvider, Fpi.ImageService, Version=1.0.0.0" fileSystemPath="C:\Temp\ImageService" />
		</providers>
	</imageService>
</configuration>